# downloader service

[Unit] 
Description= Download Bing background image every day

[Service]
Type= simple
WorkingDirectory=/home/sunny/workspace/github/bing-wallpaper
ExecStart=/usr/bin/python3 /home/sunny/workspace/github/bing-wallpaper/src/downloader.py

